*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 150px 100px 150px;
    max-height: 40vh;
}

footer{
    height: 10vh;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

ul li{
    list-style-type: none;
}

ul{
    display: flex;
    gap: 15px;
}

.container, .box-container{
    display: flex;
}

.left-text, .right-image{
    flex: 1 1 0%;
}

.right-image{
    background-color: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9fAf8;
}

#subtext, li{
    color: #e5e7eB;
    font-size: 18px;
}

#top-button{
    padding: 6px 20px;
    background-color: #3882f6;
    color: #f9faf8;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.row-one, .row-two, .row-three{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random-text{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.random{
    padding: 15px;
}

.row-one{
    margin-bottom: 20px;
    max-height: 40vh;
}

.box{
    border: 2px #3882f6 solid;
    border-radius: 12px;
    aspect-ratio: 1 / 1;
}

.out-box{
    flex: 1;
}

.out-box > p{
    padding: 5px;
    text-align: center;
}

.box-container{
    display: flex;
    justify-content: center;
    width: 60vw;
    gap: 8%;
}

.row-two{
    background-color: #e5e7eb;
    padding: 100px;
    max-height: 40vh;
}

.internal-box{
    width: 65vw;
    display: flex;
    flex-direction: column;
}

#inspirational-quote{
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
}

#quote-author{
    align-self: flex-end;
    font-weight: 900;
    font-size: 20px;
}

.row-three{
    max-height: 40vh;
    padding: 50px 0 50px 0;
}

.call-to-action{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px 150px 33px 150px;
    border-radius: 8px;
    background-color: #3882f6;
    width: 70vw;
}

.sign-up-text{
    flex: 1;
}

.sign-up-text > p{
    color: #e5e7eb;
}

.sign-up-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#bottom-button{
    padding: 6px 20px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    border-style: solid;
    border-color: #e5e7eb;
}

footer{
    height: 8vh;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}